{% extends "::mybase.html.twig" %}

{% block header_logo %}
<div class="grid_6"><a href="{{ path('home') }}"><img src="{{ asset('bundles/babuzzannonce/images/logo3.png') }}"/></a></div>
{% endblock %}

{% block body %}
    <div class="container_24">
        <form id="reloader" action="{{ path('annonce_view_mine') }}" method="post" {{ form_enctype(form) }}>
            <input type="hidden" id="indexToDisplay" name="indexToDisplay" />
        </form>
        <div class="grid_24">
            <div class="grid_6 omega">&nbsp;</div>
            <div class="grid_18 alpha titre_gray_30">Mes annonces</div>
        </div>

        <div class="grid_24">
            <div class="grid_6 omega">&nbsp;</div>
            <div class="grid_18 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
        </div>

        <div class="grid_24" style="height:15px">&nbsp;</div>

        <div>
            <div class="grid_3">&nbsp;</div>
            <div class="grid_14 omega txt_blue_12 bg_bandeau">{{ nbResult }} annonces</div>
            <div class="grid_6 omega alpha txt_blue_12 bg_bandeau">Trie : <span onclick="setOrderListView('date')">Date</span>&nbsp;&nbsp;<span onclick="setOrderListView('prix')">Prix</span></div>
            <div class="grid_1">&nbsp;</div>
        </div>

        <div class="grid_24" style="height:10px">&nbsp;</div>
        <div class="grid_3" >&nbsp;</div>
        
        {% for annonce in annonces %}
        <div class="grid_24">
            <div class="grid_3 alpha omega">&nbsp;</div>
            <div class="grid_21 on_one_annonce">
                <div class="grid_21 alpha" style="height:2px;background-color:#d6d7d8;">&nbsp;</div>
                <div class="grid_21" style="height:2px">&nbsp;</div>
                <div class="list_article" onclick="window.location = '{{ path('annonce_show', { 'id' : annonce.annId })}}'">
                    <div class="grid_21" style="height:8px">&nbsp;</div>
                    <div class="grid_21">
                        <div class="grid_4"><img height="70px" width="120px" src="{{ asset(annonce.annPhoto) }}" />&nbsp;</div>

                        <div class="grid_10">
                            <span class="txt_blue_12">{{ annonce.annTitre }}</span><br/>

                            <span class="txt_gray_12">
                            {{ annonce.annPrix }}€ | <br/><br/>
                                    {% if app.user and app.user.cptAdmin %}
                                    <a href="{{ path('annonce_edit', { 'id' : annonce.annId })}}">Modifier cette annonce</a> | 
                                    <a href="{{ path('annonce_delete', { 'id' : annonce.annId })}}"  onclick="return confirm('Vous etes sur le point de supprimer une annonce')">Supprimer cette annonce</a>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="grid_1">&nbsp;</div>
                            <div class="grid_6">
                                <b>Publié le {{annonce.annPubDate|date("d-m-Y")}}</b><br/>
                        {{ annonce.catId.catLabel }}<br/>
                                Par {{ annonce.cptId.cptNom }} {{ annonce.cptId.cptPrenom }}<br/>
                            </div>
                        </div>
                    </div>
                    <div class="grid_21" style="height:4px">&nbsp;</div>
                </div>
            </div>
        {% else %}
            <div class="grid_24">
                <div class="grid_3">&nbsp;</div>
                <div class="grid_20">Vous n'avez aucune annonce active</div>
            </div>
        {% endfor %}
        <div class="grid_24" style="height:10px">&nbsp;</div>
        <div class="grid_24">
            <div class="grid_11">&nbsp;</div>
            <div class="grid_5 omega txt_blue_12">        
                <<{% for index in lIndex %}
                    <span onclick="goToIndex({{ index }})">{{ index }}</span>
                {% endfor %}>>
            </div>
            <div class="grid_8">&nbsp;</div>
        </div>
    </div>
{% endblock %}
