{% extends '::mybase.html.twig' %}
{% block annTitre %}{% if annonce.annId %}{{ 'Edit annonce'|trans }}{% else %}{{ 'Add annonce'|trans }}{% endif %}{% endblock %}
            
{% block body %}
<div class="container_24">
<form action="{% if annonce.annId %}{{ path('annonce_edit', {'id':annonce.annId}) }}{% else %}{{ path('annonce_new') }}{% endif %}" method="post" {{ form_enctype(form) }}
      enctype="multipart/form-data">
    <div class="grid_24">
            <div class="grid_6 omega"><a href="{{ path('home') }}"><img src="/projet-php/web/bundles/babuzzannonce/images/logo2.png"/></a></div>
            <div class="grid_18 alpha titre_gray_30">{% if annonce.annId %}{{ 'Modifier une annonce'|trans }}{% else %}{{ 'Poster une annonce'|trans }}{% endif %}</div>
    </div>
    <div class="grid_24">
            <div class="grid_6 omega">&nbsp;</div>
            <div class="grid_18 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
    </div>
    <div class="grid_24">
        <div class="grid_6">&nbsp;</div>
        <div class="grid_18 alpha omega">
            <div>
                {{ form_errors(form.annPhoto) }}
                <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.annPhoto, 'Photo'|trans) }}</span>
                <span class="input_text"><input type="file" id="photo" name="photo"/></span>
            </div>
            <div class="grid_18" style="height:10px;">&nbsp;</div>
            <div>
                {{ form_errors(form.annTitre) }}
                <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.annTitre, 'Titre'|trans) }}</span>
                <span class="input_text">{{ form_widget(form.annTitre) }}</span>
            </div>
            <div class="grid_18" style="height:10px;">&nbsp;</div>
            <div>
                {{ form_errors(form.annDesc) }}
                <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.annDesc, 'Description'|trans) }}</span>
                <span class="input_text">{{ form_widget(form.annDesc) }}</span>
            </div>
            <div class="grid_18" style="height:10px;">&nbsp;</div>
            <div>
                {{ form_errors(form.annPrix) }}
                <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.annPrix, 'Prix de vente'|trans) }}</span>
                <span class="input_text">{{ form_widget(form.annPrix) }}</span>
            </div>
            <div class="grid_18" style="height:10px;">&nbsp;</div>
            <div class="grid_12">
                {{ form_errors(form.catId) }}
                <span class="txt_gray_12_bold">{{ form_label(form.catId, 'Catégorie'|trans) }}</span>
                 <span class="input_text" style="margin-top:15px;">{{ form_widget(form.catId) }}</span>
            </div>
        </div>
    </div>
    <div class="grid_24" style="height:10px;">&nbsp;</div>
    <div class="grid_6 omega">&nbsp;</div>
    <input class="grid_5 button" type="submit" id="submit" value="{% if annonce.annId %}{{ 'Modifier'|trans }}{% else %}{{ 'Publier cette annonce'|trans }}{% endif %}" name="submit" />
    <div class="grid_3 button annuler"><a href="{{ path('home') }}">Annuler</a></div>
</form>
</div>
{% endblock %}