{% extends '::mybase.html.twig' %}

{% block header_logo %}
<div class="grid_6"><a href="{{ path('home') }}"><img src="{{ asset('bundles/babuzzannonce/images/logo3.png') }}"/></a></div>
{% endblock %}

{% block body %}
<div class="container_24">

    <div class="grid_24" style="height:45px">&nbsp;</div>

    <div class="grid_24">
        <div class="grid_3">&nbsp;</div>
        <div class="grid_20 alpha main_search_box">
            <form>
                <input class="input_text" type="text"/>
                <select name="category">
                    <option value="all">toutes catégories</option>
                    <option value="textile">textile</option>
                    <option value="info">informatique</option>
                    <option value="mobilier">mobilier</option>
                    <option value="autre">autre</option>
                </select>
                <select name="region">
                    <option value="all">toutes la france</option>
                    <option value="idf">ile de france</option>
                    <option value="ra">rhone alpes</option>
                    <option value="aq">aquitaine</option>
                    <option value="autre">autre</option>
                </select>
                <input class="button" type="submit" value="Rechercher"></input>
            </form>
        </div>
        <div class="grid_1">&nbsp;</div>
    </div>

    <div class="grid_24" style="height:15px">&nbsp;</div>
    
    <div class="grid_24 alpha">
        <div class="grid_3">&nbsp;</div>
        <div class="grid_16">
            {% if last_url == false %}
                <a href="{{ path('home') }}">
            {% else %}
                <a href="javascript:history.back();">
            {% endif %}
                <img src="{{ asset('bundles/babuzzannonce/images/btn_retour.png') }}"/></a></div>
        <div class="grid_5">&nbsp;</div>
    </div>

    <div class="grid_24 alpha">
        <div class="grid_3">&nbsp;</div>
        <div class="grid_16"><span class="annonce_title">{{ ann.annTitre }} - {{ann.annPrix }}€</span></div>
        <div class="grid_5">&nbsp;</div>
    </div>

    <div class="grid_24 alpha">
        <div class="grid_3">&nbsp;</div>
        <div class="grid_8">
            {# <img height="200px" width="300px" src="{{ asset('bundles/babuzzannonce/images/') }}{{ ann.annPhoto }}" /> #}
            <img height="200px" width="300px" src="{{ asset(ann.annPhoto) }}" />
        </div>
        <div class="grid_12">
            <span class="annonce_info_contact">Contact</span><br/>
            <div class="annonce_info_contact_box">
                <div class="grid_7">
                    Prenom: {{ ann.cptId.cptPrenom }}<br/>
                    Date de publication: {{ ann.annPubDate|date("d-m-Y") }} <br/>
                    <br/><br/>
                    Email: {{ ann.cptId.cptEmail }} <br/>
                    Téléphone: {{ ann.cptId.cptTelephone }}<br/><br/>
                    <a class="button" href="mailto:{{ann.cptId.cptEmail}}?Subject=Reponse%20a%20une%20annonce: {{ann.annTitre}}">Contacter par email</a>
                </div>
                <div class="grid_4 eval_box">
                    {% if user_connected %}
                        {% if already_eval %}
                            {% if user_note == 0 %}
                                <img src="{{ asset('bundles/babuzzannonce/images/note0.png') }}"/><br/>
                            {% elseif user_note == 1 %}
                                <img src="{{ asset('bundles/babuzzannonce/images/note1.png') }}"/><br/>
                            {% elseif user_note == 2 %}
                                <img src="{{ asset('bundles/babuzzannonce/images/note2.png') }}"/><br/>
                            {% elseif user_note == 3 %}
                                <img src="{{ asset('bundles/babuzzannonce/images/note3.png') }}"/><br/>
                            {% else %}
                                <img src="{{ asset('bundles/babuzzannonce/images/note4.png') }}"/><br/>
                            {% endif %}
                        {% else %}
                            <table style="display:inline;">
                                <tr>
                                    <td><a class="eval0" href="?action=note&eval=0&user_id={{ ann.cptId.cptId }}"></a></td>
                                    <td><a class="eval1" href="?action=note&eval=1&user_id={{ ann.cptId.cptId }}"></a></td>
                                    <td><a class="eval2" href="?action=note&eval=2&user_id={{ ann.cptId.cptId }}"></a></td>
                                    <td><a class="eval3" href="?action=note&eval=3&user_id={{ ann.cptId.cptId }}"></a></td>
                                    <td><a class="eval4" href="?action=note&eval=4&user_id={{ ann.cptId.cptId }}"></a></td>
                                </tr>
                            </table><br/>
                        {% endif %}
                     {% endif %}
                    
                    <span {% if (already_eval == false and user_connected) %} style="position:relative;bottom:15px;" {% endif %}>
                        Note moyenne: <span style="font-weight:bold;">{{ eval_average }}</span><br/>
                        Nombre de vote: {{ eval_count }}
                    {% if already_eval %}
                        <br/><a style="color: #a4cd39;" class="delete_vote" href="?action=del&user_id={{ ann.cptId.cptId }}">Annuler votre vote</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid_1">&nbsp;</div>
    </div>

    <div class="grid_24 alpha">
        <div class="grid_3">&nbsp;</div>
        <div class="grid_20">
            <span class="annonce_info_contact">Informations sur l'article</span><br/>
            <div class="annonce_info_contact_box">
                Description :<br/><br/> {{ ann.annDesc }}
            </div>
        </div>
        <div class="grid_1">&nbsp;</div>
    </div>

</div>
</body>
{% endblock %}