{% extends '::mybase.html.twig' %}

{% block body %}
<div class="container_24">
    <div class="grid_24">
            <div class="grid_6 omega"><a href="{{ path('home') }}"><img src="/projet-php/web/bundles/babuzzannonce/images/logo2.png"/></a></div>
            <div class="grid_18 alpha titre_gray_30">Liste des catégories actuelles</div>
    </div>
    <div class="grid_24">
        <div class="grid_6 omega">&nbsp;</div>
        <div class="grid_18 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
    </div>

    <div class="grid_24" style="height:45px">
        <div class="grid_18" style="height:45px">&nbsp;</div>
        <div class="grid_4 button poster_annonce"><a href="{{ path('categorie_new') }}">Ajouter une categorie</a></div>
    </div>
    
    {% for categorie in categories %}
    <div class="grid_24">
            <div class="grid_3 alpha omega">&nbsp;</div>
            <div class="grid_21 on_one">
                <div class="grid_21 alpha" style="height:2px;background-color:#d6d7d8;">&nbsp;</div>
                <div class="grid_21" style="height:2px">&nbsp;</div>
                <div class="grid_5 alpha omega">
                    <span class="txt_blue_12">
                        <p><b>Catégorie n° {{ categorie.catId }}</b></p>
                    </span>
                </div>
                <div class="grid_10">{{ categorie.catLabel }}</div>
                <div class="grid_6">
                    <div class="grid_6" style="height:20px;">&nbsp;</div>
                        <a href="{{ path('categorie_delete', { 'id' : categorie.catId })}}"
                                onclick="return confirm('Vous etes sur le point de supprimer une categorie')">Supprimer cette Categorie</a>
                    <div class="grid_6" style="height:20px;">&nbsp;</div>
                </div>
            </div>
    </div>
    {% endfor %}

</div>
{% endblock %}