{% extends '::mybase.html.twig' %}
{% block catLabel %}{% if categorie.catId %}{{ 'Edit categorie'|trans }}{% else %}{{ 'Add categorie'|trans }}{% endif %}{% endblock %}

{% block body %}
<div class="container_24">
<form action="{% if categorie.catId %}{{ path('categorie_edit', {'categorieId':categorie.catId}) }}{% else %}{{ path('categorie_new') }}{% endif %}" method="post" {{ form_enctype(form) }}>
    <div class="grid_24">
            <div class="grid_6 omega"><a href="{{ path('home') }}"><img src="/projet-php/web/bundles/babuzzannonce/images/logo2.png"/></a></div>
            <div class="grid_18 alpha titre_gray_30">{% if categorie.catId %}{{ 'Modifier une categorie'|trans }}{% else %}{{ 'Ajouter une catégorie'|trans }}{% endif %}</div>
    </div>
    <div class="grid_24">
            <div class="grid_6 omega">&nbsp;</div>
            <div class="grid_18 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
    </div>
    <div class="grid_24">
        <div class="grid_6">&nbsp;</div>
        <div class="grid_18 alpha omega">
            <div>
                {{ form_errors(form.catLabel) }}
                <span class="txt_gray_12_bold grid_1 alpha">{{ form_label(form.catLabel, 'Nom'|trans) }}</span>
                <span class="input_text">{{ form_widget(form.catLabel) }}</span>
        </div>
    </div>
    <div class="grid_24" style="height:10px;">&nbsp;</div>
    <div class="grid_6 omega">&nbsp;</div>
    <input class="button" type="submit" id="submit" value="{% if categorie.catId %}{{ 'Modifier la catégorie'|trans }}{% else %}{{ 'Ajouter une catégorie'|trans }}{% endif %}" name="submit" />
</form>
</div>
{% endblock %}