{% extends '::mybase.html.twig' %}

{% block body %}
{% for compte in comptes %}
    <p>{{ compte.cptId }}</p>
    <a href="{{ path('compte_edit', { 'compteId' : compte.cptId })}}">Modifier cette compte</a> | 
    <a href="{{ path('compte_delete', { 'id' : compte.cptId })}}"
       onclick="return confirm('Vous etes sur le point de supprimer un compte')">Supprimer ce compte
    </a>
{% endfor %}


{% endblock %}