<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/babuzzannonce/css/reset.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/babuzzannonce/css/text.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/babuzzannonce/css/960_24_col.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/babuzzannonce/css/style.css') }}" />
<script src="{{ asset('bundles/babuzzannonce/js/all.js') }}" type="text/javascript"></script>
<title>BuzzAnnonce</title>
</head>

<body>
        {% block header %}
	<div class="container_24">
		<div class="grid_24 txt_b_12" id="top">
                        {% if app.user %}
                            <a href="{{ path('logout') }}" style="text-decoration:none"> Se deconnecter </a>
                        {% else %}
                            <a href="{{ path('login') }}" style="text-decoration:none"> Se connecter </a>
                        {% endif %}
                            | <a href="{{ path('compte_new') }}" style="text-decoration:none">S'enregistrer</a> 
                            | <a href="{{ path('home') }}" style="text-decoration:none">Les dernières annonces</a>
                        
                        {% if app.user %}
                            | <a href="{{ path('annonce_view_mine') }}" style="text-decoration:none"> Mes annonces </a>
                        {% endif %}

                        {% if app.user and app.user.cptAdmin %}
                            | <a href="{{ path('_Admin_compte') }}" style="text-decoration:none"> Admin des comptes </a>
                            | <a href="{{ path('_Admin_categorie_list') }}" style="text-decoration:none"> Admin des categories </a>
                        {% endif %}
                </div>
                {% block header_logo %}<div class="grid_6">&nbsp;</div>{% endblock %}
		<div class="grid_12">&nbsp;</div>
		<div class="grid_5 button poster_annonce"><a href="{{ path('annonce_new') }}">Poster une annonce</a></div>
		<div class="grid_24" style="height:20px">&nbsp;</div>
	</div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
        <div class="container_24">

		<div class="grid_24" style="height:50px;">&nbsp;</div>
		<div class="grid_24" style="padding-left:5px;">
			<p class="txt_blue_12">
				A propos de BuzzAnnonce | Actualités BuzzAnnonce 
				| S'inscrire | La Sécurité sur BuzzAnnonce 
				| Règlements et sécurité | Décisions de Justice 
				| Plan du site
			</p>

			<p class="txt_gray_12">
				Copyright © 1995-2012 BuzzAnnonce Inc. 
				Tous droits réservés. Les marques et marques commerciales mentionnées appartiennent 
				à leurs propriétaires respectifs. 
				L'utilisation de ce site Web implique l'acceptation des Conditions
				 d'utilisation et du Règlement sur le respect de la vie privée de BuzzAnnonce.
			</p>
		</div>

	</div>
        {% endblock %}
</body>

</html>