/* COLOR ================================================*

grey: #818285
blue: #25b8d9
blue-2: #25aae1
green: #b7d93d
green-2: #a4cd39

grey border connexion : #ddddde

*/

.txt_b_12 a:hover
{
    color:#FFFFFF;
}

.txt_blue_12
{
	color:#25aae1;
	font-size:12px;
	font-family:Arial;
}

.txt_gray_12
{
	color:#818285;
	font-size: 12px;
	font-family:Arial;
}

.txt_gray_12_bold label
{
	color:#818285;
	font-size: 12px;
	font-family:Arial;
        font-weight: bold;
}

.titre_gray_30
{
	color:#818285;
	font-size:30px;
	font-family:Verdana;
}

#top
{
        height:30px;
        background-color:#a4cd39;
        text-decoration:none;
        line-height:30px;
        vertical-align:middle;
        padding-left:10px;
}

.bg_bandeau
{
	background-color:#e5e6e6;
	height:35px;
	line-height:35px;
	vertical-align:middle;
	padding-left: 24px;
}

.list_article
{
	height:95px;
}




/* TUNG ========================================= */
.login_title
{
	font-size: 18px;
	font-weight: bold;
}

.hyperlink_blue, .hyperlink_blue:active
{
	color: #25aae1;
	text-decoration: none;
}

.hyperlink_blue:hover
{
	color: #25aae1;
	text-decoration: underline;
	font-weight: bold;
}

.login_connexion
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:#ddddde solid 2px;
	padding: 10px;
}

.login_form
{
        position:relative;
        left:45px;
        line-height: 18px;
}

.input_text input, .input_text password
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: #25aae1 1px solid;
	color: #818285;
	padding-left: 5px;
        width: 150px;
}

.button /* BLUE */
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #25aae1; /* Old browsers */
	background: -moz-linear-gradient(top,  #25aae1 0%, #27c3e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25aae1), color-stop(100%,#27c3e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* IE10+ */
	background: linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25aae1', endColorstr='#27c3e6',GradientType=0 ); /* IE6-9 */
	
	padding: 5px 15px 5px 15px;
	color: white;
	font-weight: bold;
	border: solid #24aae1 1px;
	text-align:center;
	cursor: pointer;
}

.login_register_button
{
	text-align: center;
}

.login_register_button a, a:active
{
	color: white;
	text-decoration: none;
}

.login_register_button a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.accueil_search_bar
{
	 width:100%;
	 padding:5px;
}

.accueil_form
{
	text-align: center;
}

.poster_annonce
{
	font-size: 15px;
	height: 20px;
	position: relative;
	bottom: 10px;
}

.poster_annonce a
{
	color: white;
	text-decoration: none;
}

.poster_annonce a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}


.main_search_box
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: #25aae1 1px solid;
	padding: 5px;
	padding-left: 14px;
	padding-right: 14px;
	text-align: center;
	background-color: #e5f6fb;
}

.main_search_box .input_text
{
	width: 390px;
	padding: 4px;
}

.annonce_title
{
    font-size: 30px;
}


.annonce_info_contact
{
	color: #25b8d9;
	font-weight: bold;
	font-size: 16px;
}

.annonce_info_contact_box
{
	padding: 10px;
	background-color: #daf1fa;
	height: 160px;
}

.annonce_info_contact_box a, a:active
{
	color: white;
	text-decoration: none;
}

.annonce_info_contact_box a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.eval_box
{
        text-align: center;
}

a.eval0
{
        display: block;
        width:25px;
        height:25px;
        background-image: url(../images/eval0.png);
}

a:hover.eval0
{
        background-image: url(../images/eval0hover.png);
        cursor: pointer;
        width:25px;
        height:25px;
}

.eval1
{
        display: block;
        width:25px;
        height:25px;
        background-image: url(../images/eval1.png);
}

.eval1:hover
{
        background-image: url(../images/eval1hover.png);
        cursor: pointer;
}

.eval2
{
        display: block;
        width:25px;
        height:25px;
        background-image: url(../images/eval2.png);
}

.eval2:hover
{
        background-image: url(../images/eval2hover.png);
        cursor: pointer;
}

.eval3
{
        display: block;
        width:25px;
        height:25px;
        background-image: url(../images/eval3.png);
}

.eval3:hover
{
        background-image: url(../images/eval3hover.png);
        cursor: pointer;
}

.eval4
{
        display: block;
        width:25px;
        height:25px;
        background-image: url(../images/eval4.png);
}

.eval4:hover
{
        background-image: url(../images/eval4hover.png);
        cursor: pointer;
}

.eval5
{
        width:25px;
        height:25px;
        background-image: url(../images/eval5.png);
}

.eval5:hover
{
        background-image: url(../images/eval5hover.png);
        cursor: pointer;
}

.annuler
{
    margin-top: 2px;
	font-size: 15px;
	height: 14px;
        line-height: 14px;
        vertical-align: middle;
}

.annuler a
{
	color: white;
	text-decoration: none;
}

.annuler a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.on_one_annonce:hover, .on_one:hover
{
    background-color: #d3eef9;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}
