{% extends '::mybase.html.twig' %}
{% block cptPrenom %}{% if compte.cptId %}{{ 'Edit compte'|trans }}{% else %}{{ 'Add compte'|trans }}{% endif %}{% endblock %}

{% block body %}
<form action="{% if compte.cptId %}{{ path('compte_edit', {'compteId':compte.cptId}) }}{% else %}{{ path('compte_new') }}{% endif %}" method="post" {{ form_enctype(form) }}>
    <h1>{% if compte.cptId %}{{ 'Edit compte'|trans }}{% else %}{{ 'Add compte'|trans }}{% endif %}</h1>
    <div>
    {{ form_errors(form.cptPrenom) }}
    {{ form_label(form.cptPrenom, 'Prenom'|trans) }}
    {{ form_widget(form.cptPrenom) }}
    </div>
    <div>
    {{ form_errors(form.cptNom) }}
    {{ form_label(form.cptNom, 'Nom'|trans) }}
    {{ form_widget(form.cptNom) }}
    </div>
    <div>
    {{ form_errors(form.cptCodePostal) }}
    {{ form_label(form.cptCodePostal, 'Description'|trans) }}
    {{ form_widget(form.cptCodePostal) }}
    </div>
        <div>
    {{ form_errors(form.cptDepartement) }}
    {{ form_label(form.cptDepartement, 'Departement'|trans) }}
    {{ form_widget(form.cptDepartement) }}
    </div>
    <div>
    {{ form_errors(form.cptTelephone) }}
    {{ form_label(form.cptTelephone, 'Telephone'|trans) }}
    {{ form_widget(form.cptTelephone) }}
    </div>
    <div>
    {{ form_errors(form.cptEmail) }}
    {{ form_label(form.cptEmail, 'Email'|trans) }}
    {{ form_widget(form.cptEmail) }}
    </div>
    
    {{ form_rest(form) }}
    <input type="submit" id="submit" value="{% if compte.cptId %}{{ 'Update'|trans }}{% else %}{{ 'Add'|trans }}{% endif %}" name="submit" />
</form>

{% endblock %}