{% extends '::mybase.html.twig' %}

{% block body %}
<div class="container_24">
    {# user.username #}
    <div class="grid_24">
            <div class="grid_6 omega"><a href="{{ path('home') }}"><img src="/projet-php/web/bundles/babuzzannonce/images/logo2.png"/></a></div>
            <div class="grid_18 alpha titre_gray_30">Liste des comptes actuels</div>
    </div>
    <div class="grid_24">
        <div class="grid_6 omega">&nbsp;</div>
        <div class="grid_18 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
    </div>

    <div class="grid_24" style="height:45px">&nbsp;</div>

    {% for compte in comptes %}
    <div class="grid_24">
        <div class="grid_3 alpha omega">&nbsp;</div>
        <div class="grid_21 on_one">
            <div class="grid_21 alpha" style="height:2px;background-color:#d6d7d8;">&nbsp;</div>
            <div class="grid_21" style="height:2px">&nbsp;</div>
            <div class="grid_5 alpha omega">
                <span class="txt_blue_12">
                    <p><b>Id du User n° {{ compte.cptId }}</b></p>
                    <p>Nom : {{ compte.cptNom }}<br/><br/>
                    Prénom : {{ compte.cptPrenom }}</p>
                </span>
            </div>
            <div class="grid_10">
                <span class="txt_blue_12">
                    <p>Adresse : {{ compte.cptCodePostal }} {{ compte.cptDepartement }}<br/><br/>
                     Téléphone : {{ compte.cptTelephone }} <br/><br/>
                     Email : {{ compte.cptEmail }} </p>
                </span>
            </div>
            <div class="grid_6">
                <div class="grid_6" style="height:40px;">&nbsp;</div>
                <a href="{{ path('compte_edit', { 'compteId' : compte.cptId })}}">Modifier ce compte</a> | 
                {% if compte.cptActif %}
                <a href="{{ path('compte_unactivate', { 'id' : compte.cptId })}}"
                   onclick="return confirm('Vous etes sur le point de désactiver une compte')">Désactiver ce compte</a>
                {% else %}
                <a href="{{ path('compte_activate', { 'id' : compte.cptId })}}"
                   onclick="return confirm('Vous etes sur le point d\'activer une compte')">Activer ce compte</a>                                    
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}