{% extends '::mybase.html.twig' %}

{% block header_logo %}
<div class="grid_6"><a href="{{ path('home') }}"><img src="{{ asset('bundles/babuzzannonce/images/logo3.png') }}"/></a></div>
{% endblock %}

{% block body %}
    <div class="container_24">
        <div class="grid_24" style="height:60px;">&nbsp;</div>

        <div class="grid_4">&nbsp;</div>
        <div class="grid_8">
            <span class="login_title">Comptes</span><br/><br/>
            <div class="login_content">
                <span>BuzzAnnonce, venez poster vos annonces en 5 mins.</span><br/><br/>
                <span>Gratuit et en illimité ... avec une interface simple, vous pourrez enfin vendre vos objets anciens, occasions ou neufs ...</span><br/><br/>
                <span>Vous n'avez toujours pas de comptes ? C'est par <a class="hyperlink_blue" href="{{ path('compte_login') }}">Ici</a></span><br/><br/>
                <div class="login_register_button"><a class="button" href="{{ path('compte_new') }}">Inscription</a></div>
            </div>
        </div>
        <div class="grid_1">&nbsp;</div>
        <div class="grid_7">
            <div class="login_connexion">
                <span class="login_title">Connexion</span><br/><br/>
                {% if error %}
                    <div>{{ error.message }}</div>
                {% endif %}
                <form action="{{ path('login_check') }}" method="post" {{ form_enctype(form) }}>

                    <label for="1">Email:</label><br/>
                                {{ form_widget(form.cptEmail) }}<br/>
                    <label for="2">Mot de passe:</label><br/>
                                {{ form_widget(form.cptMdp) }}<br/><br/>

                    <input class="button" type="submit" value="Connexion"></input>
                </form>
            </div>
        </div>
        <div class="grid_4">&nbsp;</div>
        <div class="grid_24" style="height:60px;">&nbsp;</div>
    </div>
{% endblock %}