{% extends '::mybase.html.twig' %}
{% block cptPrenom %}{% if compte.cptId %}{{ 'Edit compte'|trans }}{% else %}{{ 'Add compte'|trans }}{% endif %}{% endblock %}

{% block body %}
<div class="container_24">
    <form action="{% if compte.cptId %}{{ path('compte_edit', {'compteId':compte.cptId}) }}{% else %}{{ path('compte_new') }}{% endif %}" method="post" {{ form_enctype(form) }}>
        <div class="grid_24">
            <div class="grid_6 omega"><a href="{{ path('home') }}"><img src="/projet-php/web/bundles/babuzzannonce/images/logo2.png"/></a></div>
            <div class="grid_18 alpha titre_gray_30">{% if compte.cptId %}{{ 'Modifier son compte'|trans }}{% else %}{{ 'S\'enregistrer'|trans }}{% endif %}</div>
        </div>
        <div class="grid_24">
            <div class="grid_6 omega">&nbsp;</div>
            <div class="grid_18 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
        </div>

        <div class="grid_24">
            <div class="grid_6">&nbsp;</div>
            <div class="grid_18 alpha omega">
                <div>
            {{ form_errors(form.cptPrenom) }}
                    <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.cptPrenom, 'Prenom'|trans) }}</span>
                    <span class="input_text">{{ form_widget(form.cptPrenom) }}</span>
                </div>
                <div>
            {{ form_errors(form.cptNom) }}
                    <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.cptNom, 'Nom'|trans) }}</span>
                    <span class="input_text">{{ form_widget(form.cptNom) }}</span>
                </div>
                <div>
            {{ form_errors(form.cptCodePostal) }}
                    <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.cptCodePostal, 'Code postal'|trans) }}</span>
                    <span class="input_text">{{ form_widget(form.cptCodePostal) }}</span>
                </div>
                <div>
            {{ form_errors(form.cptDepartement) }}
                    <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.cptDepartement, 'Code postal'|trans) }}</span>
                    <span class="input_text">{{ form_widget(form.cptDepartement) }}</span>
                </div>
                <div>
            {{ form_errors(form.cptTelephone) }}
                    <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.cptTelephone, 'Telephone'|trans) }}</span>
                    <span class="input_text">{{ form_widget(form.cptTelephone) }}</span>
                </div>
                <div>
            {{ form_errors(form.cptEmail) }}
                    <span class="txt_gray_12_bold grid_2 alpha">{{ form_label(form.cptEmail, 'Email'|trans) }}</span>
                    <span class="input_text">{{ form_widget(form.cptEmail) }}</span>
                </div>
                <div>
            {{ form_errors(form.cptMdp) }}
                    <span class="input_text txt_gray_12_bold">{{ form_widget(form.cptMdp) }}</span>
                </div>

            </div>

        </div>
        <div class="grid_24" style="height:10px;">&nbsp;</div>
        <div class="grid_6 omega">&nbsp;</div>
        <input class="grid_6 button" type="submit" id="submit" value="{% if compte.cptId %}{{ 'Modifier'|trans }}{% else %}{{ 'Créer mon compte BuzzAnnonce'|trans }}{% endif %}" name="submit" />
        <div class="grid_3 button annuler"><a href="{{ path('home') }}">Annuler</a></div>
    </form>
</div>
{% endblock %}
