/* COLOR ================================================*

grey: #818285
blue: #25b8d9
blue-2: #25aae1
green: #b7d93d
green-2: #a4cd39

grey border connexion : #ddddde

*/

.txt_blue_12
{
	color:#25aae1;
	font-size:12px;
	font-family:Arial;
}

.txt_gray_12
{
	color:#818285;
	font-size: 12px;
	font-family:Arial;
}

.titre_gray_30
{
	color:#818285;
	font-size:30px;
	font-family:Verdana;
}

#top
{
		height:30px;
		background-color:#a4cd39;
		text-decoration:none;
		line-height:30px;
		vertical-align:middle;
		padding-left:10px;
}

.bg_bandeau
{
	background-color:#e5e6e6;
	height:35px;
	line-height:35px;
	vertical-align:middle;
	padding-left: 24px;
}

.list_article
{
	height:95px;
}




/* TUNG ========================================= */
.login_title
{
	font-size: 18px;
	font-weight: bold;
}

.hyperlink_blue, .hyperlink_blue:active
{
	color: #25aae1;
	text-decoration: none;
}

.hyperlink_blue:hover
{
	color: #25aae1;
	text-decoration: underline;
	font-weight: bold;
}

.login_connexion
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:#ddddde solid 2px;
	padding: 10px;
}

.login_form
{
        position:relative;
        left:45px;
        line-height: 18px;
}

.input_text
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: #25aae1 1px solid;
	color: #818285;
	padding-left: 5px;
        width: 150px;
}

.button /* BLUE */
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #25aae1; /* Old browsers */
	background: -moz-linear-gradient(top,  #25aae1 0%, #27c3e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25aae1), color-stop(100%,#27c3e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* IE10+ */
	background: linear-gradient(top,  #25aae1 0%,#27c3e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25aae1', endColorstr='#27c3e6',GradientType=0 ); /* IE6-9 */
	
	padding: 5px 15px 5px 15px;
	color: white;
	font-weight: bold;
	border: solid #24aae1 1px;
	text-align:center;
	cursor: pointer;
}

.login_register_button
{
	text-align: center;
}

.login_register_button a, a:active
{
	color: white;
	text-decoration: none;
}

.login_register_button a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.accueil_search_bar
{
	 width:100%;
	 padding:5px;
}

.accueil_form
{
	text-align: center;
}

.poster_annonce
{
	font-size: 15px;
	height: 20px;
	position: relative;
	bottom: 10px;
}

.poster_annonce a
{
	color: white;
	text-decoration: none;
}

.poster_annonce a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

