{% extends "::mybase.html.twig" %}

{% block body %}
<div class="container_24">

    <form id="reloader" action="{{ path('home') }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" id="indexToDisplay" name="indexToDisplay" />
    </form>

    <div class="grid_24">
        <div class="grid_7">&nbsp;</div>
        <div class="grid_16">
            <a href="{{ path('home') }}"><img src="{{ asset('bundles/babuzzannonce/images/logo.png') }}"/></a>
        </div>
    </div>
    <div class="grid_24">
        <div class="grid_7">&nbsp;</div>
        <div class="grid_16" style="font-size:14px;">
            {% if app.session.hasFlash('notice') %}
                {{ app.session.flash('notice') }}
            {% endif %}
        </div>
    </div>

    <div class="grid_24">
        <div class="grid_5">&nbsp;</div>
        <div class="grid_15">
            <form id="formToSub" class="accueil_form" action="{{ path('annonce_view_cat') }}" method="post" {{ form_enctype(form) }}>
                <!-- <input id="1" class="input_text accueil_search_bar" type="text"/><br/><br/> -->

                <span class="input_text accueil_search_bar" style="visibility: hidden">{{ form_widget(form.catLabel) }}</span><br>
                <select id="selectOfCat">
                {% for cat in cats%}
                        <option value="{{ cat.catLabel}}">{{ cat.catLabel}}</option>
                {% endfor %}
                    </select>
                    <input onclick="setTheForm()" class="button" type="button" value="Rechercher"></input>

                </form>
        </div>
        <div class="grid_4">&nbsp;</div>
    </div>

    <div class="grid_24" style="height:40px">&nbsp;</div>
    <div class="grid_24">
        <div class="grid_3 omega">&nbsp;</div>
        <div class="grid_20 alpha titre_gray_30" style="margin-left:12px;">Les dernières annonces</div>
    </div>
    <div class="grid_24">
        <div class="grid_3 omega">&nbsp;</div>
        <div class="grid_21 alpha omega" style="background-color:#cbf04a;height:1px;">&nbsp;</div>
    </div>

    <div class="grid_24">
    {% for annonce in annonces %}
        <div class="grid_24">
            <div class="grid_3 alpha omega">&nbsp;</div>
            <div class="grid_21 on_one_annonce">
                <div class="grid_21 alpha" style="height:2px;background-color:#d6d7d8;">&nbsp;</div>
                <div class="grid_21" style="height:2px">&nbsp;</div>
                <div class="list_article" onclick="window.location = '{{ path('annonce_show', { 'id' : annonce.annId })}}'">
                    <div class="grid_21" style="height:8px">&nbsp;</div>
                    <div class="grid_21">
                        <div class="grid_4"><img height="70px" width="120px" src="{{ asset(annonce.annPhoto) }}" />&nbsp;</div>

                        <div class="grid_10">
                            <span class="txt_blue_12">{{ annonce.annTitre }}</span><br/>

                            <span class="txt_gray_12">
                            {{ annonce.annPrix }}€ | <br/><br/>
                                    {% if app.user and app.user.cptAdmin %}
                                    <a href="{{ path('annonce_edit', { 'id' : annonce.annId })}}">Modifier cette annonce</a> | 
                                    <a href="{{ path('annonce_delete', { 'id' : annonce.annId })}}"  onclick="return confirm('Vous etes sur le point de supprimer une annonce')">Supprimer cette annonce</a>
                                    {% endif %}
                            </span>
                            </div>
                            <div class="grid_1">&nbsp;</div>
                            <div class="grid_6">
                                <b>Publié le {{annonce.annPubDate|date("d-m-Y")}}</b><br/>
                        {{ annonce.catId.catLabel }}<br/>
                                Par {{ annonce.cptId.cptNom }} {{ annonce.cptId.cptPrenom }}<br/>
                            </div>
                        </div>
                    </div>
                    <div class="grid_21" style="height:4px">&nbsp;</div>
                </div>
            </div>
    {% else %}
        <div class="grid_6 alpha omega">&nbsp;</div>
        <div class="grid_18">Aucune annonce sur le site</div>
    {% endfor %}
    </div>

    <div class="grid_24" style="height:10px">&nbsp;</div>
    <div class="grid_24">
        <div class="grid_11">&nbsp;</div>
            <div class="grid_5 omega txt_blue_12">        
                << {% for index in lIndex %}
                    <span style="cursor:pointer;" onclick="goToIndex({{ index }})">{{ index }}</span>
                {% endfor %} >>
            </div>
        <div class="grid_8">&nbsp;</div>
    </div>

    <div class="grid_24" style="height:17px">&nbsp;</div>

</div>
{% endblock %}